@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    ;
}

:root {
    --height: 450px;
    --width: calc(var(--height)/1.5);
    --color-base1: #07693A;
    --color-base2: #479352;
    --sand-color: #FFD786;
    --bg-color: #94BC88;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #07693A;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

h1{
    color: white;
    margin-bottom: 10px;
}

.logo {
    flex-basis: 20%;
}

.logo img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: 530ms ease-in-out;
    font-weight: 700;
}

.nav-links ul li a:hover {
    color: #887718;
}

.information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    /*left: -10%; interesting effect*/
    left: -10%;
    transform: translateY(-50%);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    /* background: rgb(137, 124, 124); TODO use this feature in other design*/
    transform: rotate(0deg);
    transition: 1s;
}

.feature img {
    width: 70px;
}

.feature {
    position: absolute;
    display: flex;
    color: white;
}

.feature div {
    margin-left: 24px;
}

.one {
    top: 450px;
    right: 50px;
}

.two {
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three {
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four {
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

p {
    margin-top: 8px;
}

.mobile {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h2 {
    margin: 15px 0;
    color: white;
    font-weight: 700;
}

#upBtn {
    width: 32px;
    cursor: pointer;
}

#downBtn {
    width: 32px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    right: 300px;
    bottom: 50px;
}

.cta h3 {
    color: #F8F8F8;
    font-weight: 600;
    margin-bottom: 20px;
}

input[type=text] {
    width: 250px;
    height: 50px;
    background: #F8F8F8;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    border: none;
}

input[type=submit] {
    background: #07693A;
    /* Light/Focus btn */
border: none;
    box-shadow: 0px 0px 0px 2px #FCE181;
    border-radius: 8px;
    width: 198px;
    height: 44px;
    color: #F8F8F8;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    /* Light/Primary/Btn Hover */

    background: #055D46;
    /* Light/Drop Shadows Z100 */

    box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.15);
    border-radius: 8px;
}

input[type=submit]:active {
    /* Light/Primary/Btn Click */

    background: #277E44;
    /* Light/Drop Shadows Z100 */

    box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.15);
    border-radius: 8px;
}

.wrapper {
    position: absolute;
    left:80px; 
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
}

/* prettier-ignore */
.light-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background:
        radial-gradient(circle,
            #A5CC99 50%,
            transparent 50%);
    filter: blur(100px);
}

.ampulheta {
    width: var(--width);
    height: var(--height);
    position: relative;
}

.ampulheta .base::before,
.ampulheta .base::after {
    content: "";
    display: block;
    background-color: var(--color-base1);
    width: 100%;
    height: calc(var(--width)/14.28);
    border-radius: 4px;
    position: relative;
}

.ampulheta .base::after {
    position: absolute;
    bottom: 0;
}

.ampulheta .base div {
    background-color: var(--color-base2);
    height: calc(var(--width)/10);
    width: 80%;
    position: absolute;
    top: calc(var(--width)/14.28);
    left: 50%;
    transform: translate(-50%);
}

.ampulheta .base div:nth-child(2) {
    bottom: calc(var(--width)/14.28);
    top: auto;
}

.ampulheta .base div::before,
.ampulheta .base div::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

.ampulheta .base div:nth-child(1)::before {
    border-left: calc(var(--height)/15) solid transparent;
    border-top: calc(var(--height)/10) solid var(--color-base2);
    transform: translateX(calc(var(--height)/ -16.66));
}

.ampulheta .base div:nth-child(1)::after {
    border-right: calc(var(--height)/15) solid transparent;
    border-top: calc(var(--height)/10) solid var(--color-base2);
    transform: translateX(calc(var(--height)/ 16.66));
    right: 0;
}

.ampulheta .base div:nth-child(2)::before {
    border-left: calc(var(--height)/15) solid transparent;
    border-bottom: calc(var(--height)/10) solid var(--color-base2);
    transform: translateX(calc(var(--height)/ -16.66));
}

.ampulheta .base div:nth-child(2)::after {
    border-right: calc(var(--height)/15) solid transparent;
    border-bottom: calc(var(--height)/10) solid var(--color-base2);
    transform: translateX(calc(var(--height)/ 16.66));
    right: 0;
}

.ampulheta .corpo::before,
.ampulheta .corpo::after {
    content: "";
    display: block;
    box-shadow: inset 1px 1px 18px #EDEDED;
    /* #def7fe*/
    position: absolute;
    width: 79.5%;
    left: 50%;
    height: calc(var(--height) / 2.59);
    transform: translate(-50%);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.ampulheta .corpo::before {
    top: calc(var(--height)/8.82);
    border-radius: 50% 50% 50% 50%/ 0% 0% 100% 100%;
}

.ampulheta .corpo::after {
    bottom: calc(var(--height)/8.82);
    border-radius: 50% 50% 50% 50%/ 100% 100% 0% 0%;
}

.sand {
    position: relative;
    height: calc(var(--height) / 1.29);
    top: calc(var(--height)/15);
}

.sand::before,
.sand::after {
    content: "";
    display: block;
    background-color: var(--sand-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.sand::before {
    height: calc(var(--height)/4.5);
    width: 60%;
    left: 0;
    border-radius: 50% 50% 50% 50%/ 0% 0% 100% 100%;
    box-shadow: inset 20px -10px 0 0 #FCE181;
    transform-origin: bottom;
    transform: translate(calc(var(--height)/7.5), calc(var(--height)/7.03));
    top: 0;
    animation: sand-down3 65s ease-out 1 4.1s both;
}

@keyframes sand-down3 {
    85% {
        height: calc(var(--height)/ 45);
        transform: translate(calc(var(--height)/4.2), 0);
        top: calc(var(--height)/2.81);
        width: 30%;
        opacity: 1;
    }

    100% {
        height: 0;
        transform: translate(calc(var(--height)/4.2), 0);
        top: calc(var(--height)/2.81);
        width: 30%;
        opacity: 0;
    }

}

.sand::after {
    height: 0;
    width: 80%;
    bottom: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    /* triangle*/
    box-shadow: inset 0px 30px 0 0 #FCE181;
    animation: sand-up 66s ease-out 1 13.3s both;
}

@keyframes sand-up {
    100% {
        height: calc(var(--height) / 3.75);
    }
}

.sand div {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: calc(var(--height)/7.03);
}

.sand div::before,
.sand div::after {
    content: "";
    display: block;
}

.sand div::before {
    width: calc(var(--height)/2.48);
    height: calc(var(--height)/4.36);
    background-color: var(--sand-color);
    transform: translate(0, calc(var(--height)/ -8.03));
    border-radius: 60% 61% 54% 38%/ 52% 53% 60% 60%;
    animation: sand-down1 3s ease 2s 1 both;
}

@keyframes sand-down1 {
    80% {
        height: 0;
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        height: 0;
        transform: translate(0, 0);
        opacity: 0;
    }
}

.sand div::after {
    background-color: var(--sand-color);
    height: 0;
    width: calc(var(--height)/90);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: calc(var(--height)/4.5);
    border-radius: calc(var(--height)/45);
    opacity: 0.5;
    animation: sand-down2 67.5s ease 1 2s;
}

@keyframes sand-down2 {
    20%{
        opacity: 1;
        height: calc(var(--height)/2.45);
        top: calc(var(--height)/4.5);
    }
    90%{
        opacity: 1;
        height: calc(var(--height)/2.45);
        top: calc(var(--height)/4.5);
    }
    100%{
        opacity: 0;
        height: 1px;
        top: calc(var(--height)/4.5);
    }
}

/* prettier-ignore */

.ampulheta{
    transform: scale(0) rotate(180deg);
    animation: zoom 2s ease 1 forwards;
}

@keyframes zoom{
    100%{
        transform: scale(1) rotate(0);
    }
}